# Comma-separated list of folders where you will serve the videos from.
# An 'edited' subfolder will be created automatically in each of these directories.
VIDEOS_DIRS=/home/visar/Videos/tango

# Absolute path to the built frontend's distribution folder (e.g., /path/to/frontend-repo/dist/frontend)
FRONTEND_DIST_PATH=/home/visar/Documents/tango-repos/tango-editor-frontend/dist/frontend
