# Absolute path to the folder containing original, unsorted video streams.
VIDEO_DOWNLOAD=/home/visar/Documents/temp/Videos/tango/download

# Absolute path to the folder for videos being processed or staged.
VIDEO_CONVERT=/home/visar/Documents/temp/Videos/tango/convert

# Absolute path to the folder for final, modified videos.
VIDEO_MODIFIED=/home/visar/Documents/temp/Videos/tango/modified

# This keeps them separate from the active video directories.
VIDEO_TRASH_PATH=/home/visar/Documents/temp/Videos/tango/trash-edit

# Absolute path to the built frontend's distribution folder (e.g., /path/to/frontend-repo/dist/frontend)
FRONTEND_DIST_PATH=/home/visar/Documents/temp/video-editor/video-editor-frontend/dist
