{
    "videoPaths": {
        "download": "/home/visar/Videos/tango/download",
        "convert": "/home/visar/Videos/tango/converter/convert",
        "converted": "/home/visar/Videos/tango/converter/converted",
        "trash": "/home/visar/Videos/tango/trash"
    },
    "frontendDistPath": "/home/visar/Documents/tango-repos/video-editor-frontend/dist"
}